<div class="row">
	<div class="col-md-12">
		<table class="table table-striped table-hover">
		<thead>
			<tr class="head">
				<th>ID</th>
				<th>Name</th>
				<th>Facebook ID</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="account in ctrl.accounts">
				<td ng-bind="account.id">
				</td>
				<td ng-bind="account.name"></td>
				<td ng-bind="account.fbId"></td>
				<td>
					<a role="button" title="Delete" ng-click="ctrl.onDelete(account.id)">
						<span class="glyphicon glyphicon-remove text-danger"></span>
					</a>
				</td>
			</tr>
		</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-md-12 text-center">
		<ul uib-pagination total-items="ctrl.total" items-per-page='12' ng-model="ctrl.pageNum" ng-change="ctrl.onPage()"></ul>
	</div>
</div>
