<template>
	<div>
		<backdrop></backdrop>
		<navbar></navbar>
		<section>
			<b-container>
				<router-view></router-view>
			</b-container>
		</section>
		<lang-dialog></lang-dialog>
		<car-dialog></car-dialog>
	</div>
</template>
<script lang="ts">
	import { Component, Vue, Provide } from 'vue-property-decorator';

	import Navbar from '@/components/Navbar.vue';
	import Backdrop from '@/components/Backdrop.vue';
	import LangDialog from '@/views/LangDialog.vue';
	import CarDialog from '@/views/CarDialog.vue';

	import axios from 'axios';

	import { Toast } from '@/plugins/toast';
	import { File } from '@/plugins/file';
	import { Camera } from '@/plugins/camera';
	import { Clipboard } from '@/plugins/clipboard';
	import { Upload } from '@/plugins/upload';
	import { Viber } from '@/plugins/viber';
	import { Facebook } from '@/plugins/facebook';

	import { Rest } from '@/common/Rest';
	import { Sitemap } from '@/common/Sitemap';
	import { AppHelper } from '@/common/AppHelper';
	import { ToastHelper } from '@/common/ToastHelper';
	import { StoreHelper } from '@/common/StoreHelper';

	import { AccountService } from '@/services/AccountService';
	import { BrandService } from '@/services/BrandService';
	import { CommentService } from '@/services/CommentService';
	import { ReportService } from '@/services/ReportService';
	import { StreetService } from '@/services/StreetService';


	@Component({
		components: { Navbar, Backdrop, LangDialog, CarDialog }
	})
	export default class App extends Vue {

		activeIndex: string = '/';

		@Provide() toast = new Toast();
		@Provide() file = new File();
		@Provide() camera = new Camera();
		@Provide() clipboard = new Clipboard();
		@Provide() upload = new Upload();
		@Provide() viber = new Viber();
		@Provide() facebook = new Facebook();

		@Provide() rest = new Rest(axios, this.toast);
		@Provide() sitemap = new Sitemap(this.rest);
		@Provide() appHelper = new AppHelper();
		@Provide() toastHelper = new ToastHelper(this.toast, this.sitemap);
		@Provide() storeHelper = new StoreHelper();

		@Provide() accountService = new AccountService(this.rest);
		@Provide() brandService = new BrandService(this.rest);
		@Provide() commentService = new CommentService(this.rest);
		@Provide() reportService = new ReportService(this.file, this.rest);
		@Provide() streetService = new StreetService(this.rest);

		created(): void {
			this.sitemap.setRootComponent(this);
		}
	}
</script>