<template>
	<div class="modal-backdrop show in text-center" style="z-index: 1090;" :class="{ 'd-none': !showBackdrop }">
		<img src="img/loader.gif" style="width:90px;margin-top:210px;" />
	</div>
</template>
<script lang="ts">
import { Component, Vue, Inject } from 'vue-property-decorator';
import { StoreHelper } from '@/common/StoreHelper';


@Component({})
export default class Backdrop extends Vue {

	@Inject() storeHelper!: StoreHelper;

	get showBackdrop(): boolean {
		return this.storeHelper.showBackdrop;
	}

	created(): void {
	}
}
</script>
