<template>
	<b-navbar id="mainNav" toggleable="md" style="z-index: 1100;" fixed="top">
		<b-container>
			<b-navbar-brand href @click="gotoHome()" role="button">
				<span style="white-space:nowrap;">
					<img src="img/logo.png" style="width:24px;margin-top:-4px;" /> Smart Police
				</span>
			</b-navbar-brand>
			<b-button @click="gotoSearch" variant="link" role="button">
				<i class="fa fa-search" aria-hidden="true"></i>
			</b-button>
			<b-navbar-toggle target="navbarResponsive"></b-navbar-toggle>
			<b-collapse id="navbarResponsive" :visible="!isNavCollapsed" @shown="onDropMenu" is-nav>
				<b-navbar-nav class="ml-auto">
					<b-nav-item href @click="reportNow">
						{{$t('report')}}
					</b-nav-item>
					<b-nav-item to="/report/server" @click="hide">
						{{$t('published')}}
					</b-nav-item>
					<b-nav-item to="/report/list" @click="hide">
						{{$t('reports')}}
					</b-nav-item>
					<b-nav-item to="/home/profile" @click="hide">
						{{$t('profile')}}
					</b-nav-item>
					<b-nav-item @click="showLang">
						{{$t('lang')}}
					</b-nav-item>
					<b-nav-item to="/home/about" @click="hide">
						{{$t('about')}}
					</b-nav-item>
					<b-nav-item @click="exitApp">
						{{$t('exit')}}
					</b-nav-item>
				</b-navbar-nav>
			</b-collapse>
		</b-container>
	</b-navbar>
</template>
<script lang="ts">
import { Component, Vue, Inject } from 'vue-property-decorator';
import { Sitemap } from '@/common/Sitemap';
import { StoreHelper } from '@/common/StoreHelper';


@Component({})
export default class Navbar extends Vue {

	activeIndex: string = '/';
	isNavCollapsed = true;

	@Inject() sitemap!: Sitemap;
	@Inject() storeHelper!: StoreHelper;

	created(): void {
		document.addEventListener('backbutton', () => this.backButtonClick(), false);
	}

	backButtonClick(): void {
		if (this.storeHelper.showBackdrop) {
			return;
		}

		//if(this.dialogHelper.closeDialog()) {
		//	return;
		//}

		let currentPath = this.sitemap.getPath();
		if (currentPath === '/home/index' || currentPath === '/') {
			this.sitemap.exit();
		}
		else if (currentPath === '/report/edit') {
			this.sitemap.gotoReportList();
		}
		else if (currentPath === '/report/view') {
			this.sitemap.gotoReportServer();
		}
		else {
			this.sitemap.gotoHome();
		}
	}

	gotoHome(): void {
		if (this.storeHelper.showBackdrop) {
			return;
		}

		this.hide();
		this.sitemap.gotoHome();
	}

	gotoSearch(): void {
		if (this.storeHelper.showBackdrop) {
			return;
		}

		this.hide();
		this.sitemap.gotoSearch();
	}

	reportNow(): void {
		this.hide();
		this.sitemap.gotoReportAdd();
	}

	toggle(): void {
		if (this.storeHelper.showBackdrop) {
			return;
		}

		//this.dialogHelper.closeDialog();
		this.isNavCollapsed = !this.isNavCollapsed;
	}

	onDropMenu(): void {
		this.isNavCollapsed = false;
	}

	hide(): void {
		this.isNavCollapsed = true;
		//this.dialogHelper.closeDialog();
	}

	exitApp(): void {
		this.sitemap.exit();
	}

	showLang(): void {
		this.hide();
		this.storeHelper.showLangDialog = true;
		//this.dialogHelper.openLangDialog();
	}

	langIcon(): string {
		return 'img/' + this.sitemap.getLang() + '.png';
	}
}
</script>
