<template>
	<div>
		<div id="modalBackdrop" class="modal-backdrop fade in" style="z-index: 1090; display:none;"></div>
		<el-menu class="el-menu-demo" mode="horizontal" :router="true" :default-active="activeIndex" @select="onSelectMenu">
			<el-menu-item index="/">Home</el-menu-item>
			<el-menu-item index="/report/list/0">Reports</el-menu-item>
			<el-menu-item index="/account/list/0">Accounts</el-menu-item>
			<el-menu-item index="/login">Login</el-menu-item>
		</el-menu>
		<el-row>
			<el-col :sm="24" :md="{ span: 20, offset: 2}" :lg="{ span: 18, offset: 3}" :xl="{ span: 16, offset: 4}">
				<router-view />
			</el-col>
		</el-row>
	</div>
</template>

<script lang="ts">
	import { Component, Vue, Provide } from 'vue-property-decorator';
	import { IRouteChangeListener } from '@/common/route-change-listener';

	import axios from 'axios';
	import { Helper } from '@/common/helper';
	import { ReportService } from '@/services/report-service';
	import { AccountService } from '@/services/account-service';

	@Component({})
	export default class App extends Vue implements IRouteChangeListener {

		activeIndex: string = '/';

		@Provide() accountService = new AccountService(axios);
		@Provide() reportService = new ReportService(axios);
		@Provide() helper = new Helper();

		created(): void {
			this.activeIndex = this.$router.currentRoute.path;
			this.helper.init(this, this);
		}

		onRouteUpdated(): void {
			this.activeIndex = this.$router.currentRoute.path;
			console.log(this.activeIndex);
		}

		onSelectMenu(index: string, indexPath: string): void {
			this.activeIndex = index;
		}
	}
</script>