<div class="row">
	<div class="col-xs-3">
		<h4>
			<a href="/report/server"><i class="fa fa-reply" aria-hidden="true"></i></a>
		</h4>
	</div>
	<div class="col-xs-9 text-right">
		<h5 style="color: #eb3812;">
			<b>
				<i class="fa fa-whatsapp" aria-hidden="true"></i> Viber
			</b>
			{{ 'police' | translate }}:<br />
			<b>+373 780 90 902</b>
		</h5>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-xs-12">
		<div class="form-group">
			<label for="address" ng-bind="'address' | translate"></label>
			<input id="address" name="address" type="text" ng-value="$ctrl.address" class="form-control" disabled="disabled" />
		</div>
		<div class="row">
			<div class="col-xs-6 form-group">
				<label for="date" ng-bind="'date' | translate"></label>
				<input id="date" name="date" ng-value="$ctrl.date" class="form-control" disabled="disabled" />
			</div>
			<div class="col-xs-6 form-group">
				<label for="time" ng-bind="'time' | translate"></label>
				<input type="text" id="time" name="time" ng-value="$ctrl.time" class="form-control" disabled="disabled" />
			</div>
		</div>
		<div class="form-group">
			<label ng-bind="'cars' | translate"></label>
			<div class="row">
				<div class="col-sm-6 col-xs-12" ng-repeat="car in $ctrl.cars">
					<div class="panel panel-default">
						<div class="panel-body">
							<table style="width:100%;">
								<tr>
									<td rowspan="2" style="width:80px;text-align:left;vertical-align:top;">
										<img ng-src="{{car.smImageSrc}}" class="img-thumbnail" style="width:80px;height:70px;margin: 0;padding:0;" ng-click="$ctrl.onZoom(car)" />
									</td>
									<td style="text-align:left;vertical-align:top;">
										<h3 ng-bind="car.plate" style="margin:0 5px 3px 10px;"></h3>
									</td>
								</tr>
								<tr>
									<td style="text-align:left;vertical-align:top;">
										<h5 class="help-block" style="margin:0 5px 3px 10px" ng-bind="car.brand"></h5>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="notes" ng-bind="'notes' | translate"></label>
			<textarea id="notes" name="notes" ng-value="$ctrl.notes" class="form-control" disabled="disabled">
			</textarea>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-xs-12">
		<form name="form" novalidate>
			<div class="form-group">
				<label ng-bind="'comments' | translate"></label>
				<div class="well well-sm" style="background-color:#fff;font-size:12px;" ng-repeat="comment in $ctrl.comments">
					<b><a href ng-bind="comment.account"></a></b>
					{{ comment.text }}
				</div>
			</div>
			<div class="form-group" ng-show="$ctrl.user && !$ctrl.commentPosted">
				<label ng-bind="'yourcomment' | translate"></label>
				<textarea id="comment" name="comment" class="form-control" rows="3" ng-model="$ctrl.commentText" minlength="3" maxlength="100" required ng-class="{submitted: form.$submitted}"></textarea>
				<div class="err-block" ng-show="form.$submitted || form.address.$touched">
					<div ng-show="form.comment.$error.required" ng-bind="'comment_required' | translate"></div>
					<div ng-show="form.comment.$error.minlength" ng-bind="'comment_invalid' | translate"></div>
					<div ng-show="form.comment.$error.maxlength" ng-bind="'comment_imvalid' | translate"></div>
				</div>
			</div>
			<div class="form-group text-right" ng-show="$ctrl.user && !$ctrl.commentPosted">
				<button class="btn btn-primary btn-sm" ng-click="$ctrl.postComment(form)">
					<span class="glyphicon glyphicon-comment" aria-hidden="true"></span> {{'submit'|translate}}
				</button>
			</div>
			<div class="form-group">
				<p class="col-xs-12 help-block" style="font-size:12px;" ng-bind="'gotoprofile'|translate" ng-hide="$ctrl.user"></p>
			</div>
		</form>
	</div>
</div>