<div class="row">
	<div class="col-md-6 col-xs-12 text-center">
		<h3>
			<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
			{{ 'searchcar' | translate }}
		</h3>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-xs-12" ng-form="form">
		<div class="form-group">
			<label for="plate" ng-bind="'plate' | translate"></label>
			<input placeholder="C AA 301" type="text" class="form-control" ng-class="{submitted: form.$submitted}" style="text-transform: uppercase;" id="plate" name="plate" ng-model="$ctrl.plate" minlength="4" maxlength="9" required />
			<div class="err-block" ng-show="form.$submitted || form.plate.$touched">
				<div ng-show="form.plate.$error.required" ng-bind="'plate_required' | translate"></div>
				<div ng-show="form.plate.$error.minlength" ng-bind="'plate_invalid' | translate"></div>
				<div ng-show="form.plate.$error.maxlength" ng-bind="'plate_invalid' | translate"></div>
			</div>
		</div>
		<div class="form-group text-right">
			<button type="button" class="btn btn-primary" ng-click="$ctrl.search(form)">
				<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
				{{ 'search' | translate }}
			</button>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-xs-12" ng-repeat="car in $ctrl.cars">
		<div class="panel panel-default">
			<div class="panel-body">
				<table style="width:100%;">
					<tr>
						<td rowspan="2" style="width:80px;text-align:left;vertical-align:top;">
							<img ng-src="{{car.smImageSrc}}" class="img-thumbnail" style="width:80px;height:70px;margin: 0;padding:0;" ng-click="$ctrl.onZoom(car)" />
						</td>
						<td style="text-align:left;vertical-align:top;">
							<h3 ng-bind="car.plate" style="margin:0 5px 3px 10px;"></h3>
						</td>
					</tr>
					<tr>
						<td style="text-align:left;vertical-align:top;">
							<h5 class="help-block" style="margin:0 5px 3px 10px" ng-bind="car.brand"></h5>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>