<template>
	<el-form>
		<el-form-item label="Name">
			<el-input v-model="name"></el-input>
		</el-form-item>
		<el-form-item label="Password">
			<el-input v-model="password"></el-input>
		</el-form-item>
		<el-form-item>
			<el-button type="primary" @click="onSubmit">Submit</el-button>
			<el-button @click="onCancel">Cancel</el-button>
		</el-form-item>
	</el-form>
</template>

<script lang="ts">
	import { Component, Vue, Inject } from 'vue-property-decorator';
	import { Helper } from '@/common/helper';
	import { AccountService } from '@/services/account-service';


	@Component({})
	export default class Login extends Vue {
		name: string = '';
		password: string = '';

		@Inject() helper!: Helper;
		@Inject() accountService!: AccountService;

		onSubmit(): void {
			this.helper.fadeIn();
			this.accountService.updateToken(this.name, this.password)
				.then(() => this.helper.gotoHome())
				.then(() => this.helper.fadeOut())
				.catch(() => this.helper.fadeOut());
		}

		onCancel(): void {
			this.helper.gotoHome();
		}
	}
</script>