/*!
 * Start Bootstrap - Creative v3.3.7+1 (http://startbootstrap.com/template-overviews/creative)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}
hr {
  border-color: #F05F40;
  border-width: 3px;
  max-width: 50px;
}
hr.light {
  border-color: white;
}
a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #F05F40;
}
a:hover,
a:focus {
  color: #eb3812;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.bg-dark {
  background-color: #222222;
  color: white;
}
.text-faded {
  color: rgba(255, 255, 255, 0.7);
}
aside {
  padding: 50px 0;
}
.no-padding {
  padding: 0;
}
.navbar-light {
  background-color: white;
  border-color: rgba(34, 34, 34, 0.05);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.navbar-light .navbar-header .navbar-brand {
  color: #F05F40;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: bold;
  font-size: 16px;
}
.navbar-light .navbar-header .navbar-brand:hover,
.navbar-light .navbar-header .navbar-brand:focus {
  color: #eb3812;
}
.navbar-light .navbar-header .navbar-toggle {
  font-size: 14px;
  font-weight: bold;
  color: #222222;
}
.navbar-light .nav > li > a,
.navbar-light .nav > li > a:focus {
  font-size: 14px;
  font-weight: bold;
  color: #222222;
}
.navbar-light .nav > li > a:hover,
.navbar-light .nav > li > a:focus:hover {
  color: #F05F40;
}
.navbar-light .nav > li.active > a,
.navbar-light .nav > li.active > a:focus {
  color: #F05F40 !important;
  background-color: transparent;
}
.navbar-light .nav > li.active > a:hover,
.navbar-light .nav > li.active > a:focus:hover {
  background-color: transparent;
}
@media (min-width: 768px) {
  .navbar-light {
    border-color: rgba(255, 255, 255, 0.3);
  }
  .navbar-light .navbar-header .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-light .navbar-header .navbar-brand:hover,
  .navbar-light .navbar-header .navbar-brand:focus {
    color: white;
  }
  .navbar-light .nav > li > a,
  .navbar-light .nav > li > a:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  .navbar-light .nav > li > a:hover,
  .navbar-light .nav > li > a:focus:hover {
    color: white;
  }
  .navbar-light.affix {
    background-color: white;
    border-color: rgba(34, 34, 34, 0.05);
  }
  .navbar-light.affix .navbar-header .navbar-brand {
    color: #F05F40;
    font-size: 16px;
  }
  .navbar-light.affix .navbar-header .navbar-brand:hover,
  .navbar-light.affix .navbar-header .navbar-brand:focus {
    color: #eb3812;
  }
  .navbar-light.affix .nav > li > a,
  .navbar-light.affix .nav > li > a:focus {
    color: #222222;
  }
  .navbar-light.affix .nav > li > a:hover,
  .navbar-light.affix .nav > li > a:focus:hover {
    color: #F05F40;
  }
}
.section-heading {
  margin-top: 0;
}
.call-to-action h2 {
  margin: 0 auto 20px;
}
.text-primary {
  color: #F05F40;
}
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}
::-moz-selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
::selection {
  color: white;
  text-shadow: none;
  background: #222222;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
body {
  webkit-tap-highlight-color: #222222;
}