<div class="row">
	<div class="col-xs-12 col-sm-6">
		<h2>Smart Police</h2>
		<p ng-bind="'about.text1' | translate"></p>
		<p ng-bind="'about.text2' | translate"></p>
		<p ng-bind="'about.text3' | translate"></p>
	</div>
</div>
