input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
	background-color: #FFEBD6;
}

input.ng-valid.ng-touched,
select.ng-valid.ng-touched,
textarea.ng-valid.ng-touched {
	background-color: #FFFFFF;
}

input.ng-invalid.ng-untouched.submitted,
select.ng-invalid.ng-untouched.submitted,
textarea.ng-invalid.ng-untouched.submitted {
	background-color: #FFEBD6;
}

.err-block {
	color: #D63301;
}
.crop-text {
	max-width: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.topspace {
	margin-top: 15px;
}
.h7 {
	font-size: 9px;
}