<template>
	<el-row>
		<el-col :span="12" :offset="6">
			<el-pagination :page-size="12" :pager-count="7" :current-page="pageNum" layout="prev, pager, next" :total="total" @current-change="onPage">
			</el-pagination>
		</el-col>
		<el-col :span="24">
			<el-table :data="reports">
				<el-table-column prop="id" label="ID" width="160">
				</el-table-column>
				<el-table-column prop="address" label="Address" width="240">
				</el-table-column>
				<el-table-column prop="date" label="Date" width="90">
				</el-table-column>
				<el-table-column prop="time" label="Time" width="60">
				</el-table-column>
				<el-table-column prop="notes" label="Notes">
				</el-table-column>
				<el-table-column fixed="right" width="60">
					<template slot-scope="scope">
						<el-button type="text" size="small" title="Edit" @click="onEdit(scope.$index)">
							<i class="el-icon-edit"></i>
						</el-button>
					</template>
				</el-table-column>
			</el-table>
		</el-col>
		<el-col :span="12" :offset="6">
			<el-pagination :page-size="12" :pager-count="7" :current-page="pageNum" layout="prev, pager, next" :total="total" @current-change="onPage">
			</el-pagination>
		</el-col>
	</el-row>
</template>

<script lang="ts">
	import { Component, Vue, Inject } from 'vue-property-decorator';
	import { ReportDto } from '@/dto/report-dto';
	import { Helper } from '@/common/helper';
	import { ReportService } from '@/services/report-service';


	@Component({})
	export default class ReportList extends Vue {
		pageIndex: number = 0;
		pageNum: number = 0
		reports: ReportDto[] = [];
		total: number = 0;

		@Inject() reportService!: ReportService;
		@Inject() helper!: Helper;

		created(): void {
			this.helper.fadeIn();
			this.pageIndex = this.helper.getParamNum(this, 'pageIndex');
			this.loadRows()
				.then(() => this.pageNum = this.pageIndex + 1)
				.then(() => this.helper.fadeOut())
				.catch(() => this.helper.fadeOut());
		}

		onPage(pageNum: number): void {
			this.helper.fadeIn();
			this.pageIndex = pageNum - 1;
			this.pageNum = pageNum;
			this.loadRows()
				.then(() => this.helper.fadeOut())
				.catch(() => this.helper.fadeOut());
		}

		onEdit(index: number): void {
			let report = this.reports[index];
			this.helper.gotoReportEdit(report.id);
		}

		private loadRows(): Promise<void> {
			return this.reportService.getPage(this.pageIndex)
			.then(page => {
				this.reports = page.items;
				this.total = page.total;
			});
		}
	}
</script>
