<template>
	<el-form>
		<el-row>
			<el-col :md="12" :sm="24">
				<el-form-item label="ID">
					<el-input v-model="reportId"></el-input>
				</el-form-item>
				<el-form-item label="Address">
					<el-input v-model="address"></el-input>
				</el-form-item>
				<el-form-item label="Date">
					<el-input v-model="date"></el-input>
				</el-form-item>
				<el-form-item label="Time">
					<el-input v-model="time"></el-input>
				</el-form-item>
				<el-form-item label="Notes">
					<el-input v-model="notes"></el-input>
				</el-form-item>
			</el-col>
			<el-col :md="12" :sm="24">
				<el-card v-for="car in cars" :key="car.id">
					<el-row>
						<el-col :span="4">
							<img :src="'/' + reportId + '/' + car.id + '_sm.jpg'" @click="onCarZoom(car)" />
						</el-col>
						<el-col :span="10">
							<el-form-item label="Maker">
								<el-input v-model="car.brand"></el-input>
							</el-form-item>
						</el-col>
						<el-col :span="10">
							<el-form-item label="License Plate">
								<el-input v-model="car.plate"></el-input>
							</el-form-item>
						</el-col>
					</el-row>
					<el-row>
						<el-col :span="4">
						</el-col>
						<el-col :span="8">
							<input type="file" id="image" name="image" @change="onFileChange(car, $event.target.files)" />
						</el-col>
						<el-col :span="8">
							<el-button type="warning" size="small" @click="onUploadCar(car)">Upload</el-button>
						</el-col>
						<el-col :span="4">
							<el-button type="danger" size="small" @click="onDeleteCar(car)">Delete</el-button>
						</el-col>
					</el-row>
				</el-card>
			</el-col>
		</el-row>
		<el-form-item>
			<el-button type="primary" @click="onSave">Save</el-button>
			<el-button @click="onCancel">Cancel</el-button>
		</el-form-item>
		<el-dialog :visible.sync="showDialog" fullscreen="true">
			<img :src="dialogImgSrc" style="width:100%;height:100%;" />
		</el-dialog>
	</el-form>
</template>

<script lang="ts">
	import { Component, Vue, Inject } from 'vue-property-decorator';
	import { ReportDto } from '@/dto/report-dto';
	import { CarDto } from '@/dto/car-dto';
	import { Helper } from '@/common/helper';
	import { ReportService } from '@/services/report-service';


	@Component({})
	export default class ReportEdit extends Vue {
		reportId: string = '';
		address: string = '';
		date: string = '';
		time: string = '';
		notes: string = '';
		cars: CarDto[] = <any>null;
		token = localStorage.getItem('x-access-token');
		showDialog: boolean = false;
		dialogImgSrc: string = '';

		@Inject() reportService!: ReportService;
		@Inject() helper!: Helper;

		created(): void {
			this.helper.fadeIn();
			this.reportId = this.helper.getParam(this, 'reportId');
			this.load()
				.then(() => this.helper.fadeOut())
				.catch(() => this.helper.fadeOut());
		}

		onSave(): void {
			this.helper.fadeIn();
			let data: ReportDto = {
				id: this.reportId,
				address: this.address,
				date: this.date,
				time: this.time,
				notes: this.notes,
				cars: []
			};
			for(let car of this.cars) {
				data.cars.push(car);
			}

			this.reportService.update(data)
				.then(() => this.helper.gotoReportList(0))
				.then(() => this.helper.fadeOut())
				.catch(() => this.helper.fadeOut());
		}

		onCancel(): void {
			this.helper.gotoReportList(0);
		}

		onDeleteCar(car: CarDto): void {
			this.helper.fadeIn();
			this.reportService.deleteCar(car.id)
				.then(() => this.load())
				.then(() => this.helper.fadeOut())
				.catch(() => this.helper.fadeOut());
		}

		onFileChange(car: CarDto, files: File[]): void {
			(<any>car)['file'] = files[0];
		}

		onUploadCar(car: CarDto): void {
			this.helper.fadeIn();
			this.reportService.uploadCar((<any>car)['file'], this.reportId, car.id)
				.then(() => this.load())
			 	.then(() => this.helper.fadeOut())
			 	.catch(() => this.helper.fadeOut());
		}

		onCarZoom(car: CarDto): void {
			this.showDialog = true;
			this.dialogImgSrc = '/' + this.reportId + '/' + car.id + '.jpg';
		}

		private load(): Promise<void> {
			return this.reportService.getById(this.reportId)
			.then(data => {
				this.address = data.address;
				this.date = data.date;
				this.time = data.time;
				this.notes = data.notes;
				this.cars = data.cars;
			});
		}
	}
</script>
