<div class="row">
	<div class="col-xs-12 text-center">
		<h3>
			<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
			{{ 'published' | translate }}
		</h3>
	</div>
</div>
<div class="row" ng-if="$ctrl.total && $ctrl.total > 12">
	<div class="col-xs-12 text-center">
		<ul uib-pagination total-items="$ctrl.total" items-per-page='12' ng-model="$ctrl.pageNum" ng-change="$ctrl.loadPage()" direction-links="false" max-size="7" force-ellipses="true"></ul>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-xs-12" ng-repeat="report in $ctrl.reports">
		<div class="panel panel-default" role="button">
			<div class="panel-body">
				<table style="width:100%;">
					<tr>
						<td rowspan="2" style="width:80px;text-align:left;vertical-align:top;" role="button" ng-click="$ctrl.onReportClick(report)">
							<img ng-src="{{report.defaultImageSrc}}" style="width:80px;height:70px;margin: 0;padding:0;" class="img-thumbnail list-icon" />
						</td>
						<td style="text-align:left;vertical-align:top;" ng-click="$ctrl.onReportClick(report)">
							<h5 style="margin:0 5px 3px 10px">
								{{ report.date }} -
								{{ report.time }}
							</h5>
							<h6 class="help-block"style="margin:0 5px 3px 10px" ng-bind="report.address"></h6>
						</td>
					</tr>
					<tr>
						<td style="text-align:left;vertical-align:bottom;" ng-click="$ctrl.onReportClick(report)">
							<div style="margin:0 0 0 10px;" class="crop">
								<img ng-repeat="car in report.cars" ng-src="{{car.smImageSrc}}" style="width:36px;height:36px;margin-right:3px;padding:0;" class="img-thumbnail" />
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
<div class="row" ng-if="$ctrl.total && $ctrl.total > 12 && $ctrl.reports.length > 4">
	<div class="col-xs-12 text-center">
		<ul uib-pagination total-items="$ctrl.total" items-per-page='12' ng-model="$ctrl.pageNum" ng-change="$ctrl.loadPage()" direction-links="false" max-size="7" force-ellipses="true"></ul>
	</div>
</div>
