<div class="modal-body">
	<div class="row">
		<div class="col-xs-12">
			<form name="form" novalidate>
				<div class="form-group">
					<label for="brand" ng-bind="'brand' | translate"></label>
					<input id="brand" name="brand" placeholder="Toyota" type="text" ng-model="$ctrl.brand" uib-typeahead="b for b in $ctrl.brands | filter:$viewValue | limitTo:3" class="form-control" ng-class="{submitted: form.$submitted}" popup-placement="top" minlength="2" maxlength="50" required />
					<div class="err-block" ng-show="form.$submitted || form.address.$touched">
						<div ng-show="form.brand.$error.required" ng-bind="'brand_required' | translate"></div>
						<div ng-show="form.brand.$error.minlength" ng-bind="'brand_invalid' | translate"></div>
						<div ng-show="form.brand.$error.maxlength" ng-bind="'brand_long' | translate"></div>
					</div>
				</div>
				<div class="form-group">
					<label for="plate" ng-bind="'plate' | translate"></label>
					<input placeholder="C AA 301" type="text" class="form-control" ng-class="{submitted: form.$submitted}" style="text-transform: uppercase;" id="plate" name="plate" ng-model="$ctrl.plate" minlength="4" maxlength="9" required />
					<div class="err-block" ng-show="form.$submitted || form.address.$touched">
						<div ng-show="form.plate.$error.required" ng-bind="'plate_required' | translate"></div>
						<div ng-show="form.plate.$error.minlength" ng-bind="'plate_invalid' | translate"></div>
						<div ng-show="form.plate.$error.maxlength" ng-bind="'plate_invalid' | translate"></div>
					</div>
				</div>
				<div class="form-group">
					<img ng-src="{{ $ctrl.imageSrc }}" class="img-thumbnail" style="width:100%;max-height:260px;" />
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 text-right">
			<button type="button" class="btn btn-danger" ng-click="$ctrl.dismiss()" ng-bind="'cancel' | translate"></button>
			<button type="button" class="btn btn-primary" ng-click="$ctrl.onOk(form)" ng-bind="'add' | translate"></button>
		</div>
	</div>
</div>
