<div class="modal-backdrop fade in text-center" style="z-index: 1080;" ng-class="{ 'ng-hide': $ctrl.isNavCollapsed }" ng-click="$ctrl.toggle()">
</div>
<nav style="z-index: 1100;" class="navbar navbar-default navbar-fixed-top affix" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" ng-click="$ctrl.toggle()">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<button type="button" ng-click="$ctrl.gotoSearch()" class="navbar-toggle" style="padding-top:7px;padding-bottom:7px;border:none;">
				<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
			</button>
			<a class="navbar-brand" href ng-click="$ctrl.gotoHome()">
				<span style="white-space:nowrap;">
					<img src="img/logo.png" style="width:24px;margin-top:-4px;" /> Smart Police
				</span>
			</a>
		</div>
		<div class="collapse navbar-collapse" uib-collapse="$ctrl.isNavCollapsed">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a class="nav-link" href ng-click="$ctrl.reportNow()">
						<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
						{{ 'report' | translate }}
					</a>
				</li>
				<li>
					<a class="nav-link" href="/report/server" ng-click="$ctrl.hide()">
						<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
						{{ 'published' | translate }}
					</a>
				</li>
				<li>
					<a class="nav-link" href="/report/list" ng-click="$ctrl.hide()">
						<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
						{{ 'reports' | translate }}
					</a>
				</li>
				<li>
					<a class="nav-link" href="/home/profile" ng-click="$ctrl.hide()">
						<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
						{{'profile' | translate}}
					</a>
				</li>
				<li>
					<a class="nav-link" href ng-click="$ctrl.showLang()">
						<img ng-src="{{$ctrl.langIcon()}}" style="width:18px" />
						{{'lang' | translate}}
					</a>
				</li>
				<li>
					<a class="nav-link" href="/home/about" ng-click="$ctrl.hide()">
						<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
						{{'about' | translate}}
					</a>
				</li>
				<li>
					<a class="nav-link" href="market://details?id=org.jeneva.smartpolice" ng-click="$ctrl.hide()">
						<span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
						{{'rateapp' | translate}}
					</a>
				</li>
				<li>
					<a class="nav-link" role="button" ng-click="$ctrl.exitApp()" ng-bind="'exit' | translate"></a>
				</li>
			</ul>
		</div>
	</div>
</nav>