<template>
	<b-row>
		<b-col sm="6">
			<h2>Smart Police</h2>
			<p>{{$t('about.text1')}}</p>
			<p>{{$t('about.text2')}}</p>
			<p>{{$t('about.text3')}}</p>
		</b-col>
	</b-row>
</template>
<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';


@Component({})
export default class About extends Vue {

}
</script>
