<template>
	<b-modal v-model="show" centered hide-header hide-footer @shown="onShown">
		<b-row>
			<b-col>
				<b-form>
					<b-form-group :label="$t('brand')" label-for="brand">
						<b-form-input id="brand" name="brand" placeholder="Toyota" v-model="brand" minlength="2" maxlength="50" required />
						<div class="err-block">
							<div ng-show="form.brand.$error.required">{{$t('brand_required')}}</div>
							<div ng-show="form.brand.$error.minlength">{{$t('brand_invalid')}}</div>
							<div ng-show="form.brand.$error.maxlength">{{$t('brand_long')}}</div>
						</div>
					</b-form-group>
					<b-form-group :label="$t('plate')" :label-for="plate">
						<b-form-input placeholder="C AA 301" style="text-transform: uppercase;" id="plate" name="plate" v-model="plate" minlength="4" maxlength="9" required />
						<div class="err-block">
							<div ng-show="form.plate.$error.required">{{$t('plate_required')}}</div>
							<div ng-show="form.plate.$error.minlength">{{$t('plate_invalid')}}</div>
							<div ng-show="form.plate.$error.maxlength">{{$t('plate_invalid')}}</div>
						</div>
					</b-form-group>
					<b-form-group>
						<img :src="imageSrc" class="img-thumbnail" style="width:100%;max-height:260px;" />
					</b-form-group>
				</b-form>
			</b-col>
		</b-row>
		<b-row>
			<b-col class="text-right">
				<b-button variant="danger" @click="onCancel">{{$t('cancel')}}</b-button>
				<b-button variant="primary" @click="onOk">{{$t('add')}}</b-button>
			</b-col>
		</b-row>
	</b-modal>
</template>
<script lang="ts">
import { Component, Vue, Inject } from 'vue-property-decorator';
import { BrandService } from '../services/BrandService';
import { StoreHelper } from '@/common/StoreHelper';
import { Car } from '../dto/Car';


@Component({})
export default class CarDialog extends Vue {
	brands: string[] = [];
	brand: string = '';
	plate: string = '';
	imageSrc: string = '';
	submitted= false;
	valid = true;

	@Inject() brandService!: BrandService;
	@Inject() storeHelper!: StoreHelper;

	get show(): boolean {
		return this.storeHelper.showCarDialog;
	}
	set show(value: boolean){
		this.storeHelper.showCarDialog = value;
	}

	onShown(): Promise<void> {
		let car: Car = this.storeHelper.carDialogCar;
		let imageSrc: string = this.storeHelper.carDialogImageSrc;
		if (car) {
			this.brand = car.brand;
			this.plate = car.plate;
			this.imageSrc = car.imageSrc;
		}
		else {
			this.brand = <any>null;
			this.plate = <any>null;
			this.imageSrc = imageSrc;
		}

		return this.brandService.getBrands()
			.then(data => this.brands = data)
			.then(() => {});
	}

	onCancel(): void {
		this.show = false;
		this.storeHelper.carDialogResolve(<any>null);
	}

	onOk(): void {
		if (!this.valid) {
			this.submitted = true;
			return;
		}

		let car: Car = {
			id: <any>undefined,
			smImageSrc: <any>undefined,
			imageSrc: this.imageSrc,
			brand: this.brand,
			plate: this.plate
		};
		this.show = false;
		this.storeHelper.carDialogResolve(car);
	}
}
</script>
