<template>
	<b-row>
		<b-col xs="12" class="text-center">
			<h2>{{$t('police')}}</h2>
			<img src="img/logo.png" />
			<h3>{{$t('moldova')}}</h3>
			<b-dropdown variant="primary" right split @click="report" :text="$t('report')">
				<b-dropdown-item @click="savedReports">
					<i class="fa fa-floppy-o"></i>
					{{$t('reports')}}
				</b-dropdown-item>
				<b-dropdown-item @click="publishedReports">
					<i class="fa fa-globe"></i>
					{{$t('published')}}
				</b-dropdown-item>
			</b-dropdown>
		</b-col>
	</b-row>
</template>

<script lang="ts">
import { Component, Vue, Inject } from 'vue-property-decorator';
import { Sitemap } from '../common/Sitemap';


@Component({})
export default class Home extends Vue {

	@Inject() sitemap!: Sitemap;

	report(): void {
		this.sitemap.gotoReportAdd();
	}

	savedReports(): void {
		this.sitemap.gotoReportList();
	}

	publishedReports(): void {
		this.sitemap.gotoReportServer();
	}
}
</script>
