<template>
	<b-modal v-model="show" centered hide-header hide-footer>
		<b-list-group>
			<b-list-group-item active>
				<h3>{{$t('selectlang')}}</h3>
			</b-list-group-item>
			<b-list-group-item @click="select('ro')">
				<b-button variant="link">
					<h4>
						<img src="img/ro.png" style="width:36px" /> Română
					</h4>
				</b-button>
			</b-list-group-item>
			<b-list-group-item @click="select('ru')">
				<b-button variant="link">
					<h4 role="button">
						<img src="img/ru.png" style="width:36px" /> Русский
					</h4>
				</b-button>
			</b-list-group-item>
			<b-list-group-item @click="select('en')">
				<b-button variant="link">
					<h4>
						<img src="img/en.png" style="width:36px" /> English
					</h4>
				</b-button>
			</b-list-group-item>
		</b-list-group>
	</b-modal>
</template>
<script lang="ts">
import { Component, Vue, Inject } from 'vue-property-decorator';
import { BrandService } from '../services/BrandService';
import { Sitemap } from '@/common/Sitemap';
import { StoreHelper } from '@/common/StoreHelper';


@Component({ name: 'LangDialog' })
export default class LangDialog extends Vue {

	@Inject() storeHelper!: StoreHelper;
	@Inject() sitemap!: Sitemap;

	get show(): boolean {
		return this.storeHelper.showLangDialog;
	}
	set show(value: boolean){
		this.storeHelper.showLangDialog = value;
	}

	select(locale: string): void {
		this.sitemap.setLocale(locale);
		this.storeHelper.showLangDialog = false;
	}
}
</script>
