<template>
<div>
	<b-row>
		<b-col sm="6">
			<b-form>
				<b-form-group :label="$t('username')" label-for="username">
					<span class="h7 help-block pull-right" style="display:inline;font-size:12px;margin-top:-20px;">{{$t('fbnamewarn')}}</span>
					<b-form-input name="userName" v-model="userName" v-validate="rules.userName" :disabled="readMode" />
					<div class="err-block">
						<div v-if="hasError('userName', 'required')">{{$t('profile.requireuser')}}</div>
						<div v-if="hasError('userName', 'min')">{{$t('profile.minuser')}}</div>
						<div v-if="hasError('userName', 'max')">{{$t('profile.maxuser')}}</div>
					</div>
				</b-form-group>
				<b-form-group :label="$t('fbaccount')" label-for="facebookName">
					<b-input-group>
						<b-input-group-text slot="prepend">
							<i class="fa fa-facebook" aria-hidden="true"></i>
						</b-input-group-text>
						<b-form-input style="font-style: italic" name="facebookName" :value="facebookName" disabled="disabled" />
						<b-input-group-text slot="append">
							<b-link v-if="!readMode && !facebookAttached" @click="onAttachClick">{{$t('attach')}}</b-link>
							<b-link v-if="!readMode && facebookAttached" @click="onDetachClick">{{$t('detach')}}</b-link>
						</b-input-group-text>
					</b-input-group>
					<div class="err-block">
						<div v-if="facebookAttached">{{$t('profile.fbattach')}}</div>
					</div>
				</b-form-group>
			</b-form>
		</b-col>
	</b-row>
	<b-row>
		<b-col sm="6">
			<b-button variant="primary" class="mr-1" @click="onEdit" v-show="readMode">{{$t('edit')}}</b-button>
			<b-button variant="primary" class="mr-1" @click="onSave" v-show="!readMode">{{$t('save')}}</b-button>
			<b-button variant="default" class="mr-1" @click="onCancel" v-show="!readMode">{{$t('cancel')}}</b-button>
		</b-col>
	</b-row>
</div>
</template>
<script lang="ts">
import { Component, Vue, Inject } from 'vue-property-decorator';
import { ErrorBag } from 'vee-validate';
import { AccountService } from '@/services/AccountService';
import { ToastHelper } from '@/common/ToastHelper';
import { AppHelper } from '@/common/AppHelper';
import { Facebook } from '@/plugins/facebook';
import { StoreHelper } from '@/common/StoreHelper';
import { Account } from '@/dto/Account';


@Component({})
export default class Profile extends Vue {
	facebookAttached: boolean = null;
	facebookId: string = null;
	facebookName: string = null;
	originalUserName: string = null;
	userName: string = null;
	readMode: boolean = null;

	@Inject() facebook: Facebook;
	@Inject() appHelper: AppHelper;
	@Inject() toastHelper: ToastHelper;
	@Inject() storeHelper: StoreHelper;
	@Inject() accountService: AccountService;

	errors: ErrorBag;

	created(): void {
		this.storeHelper.showBackdrop = true;
		this.facebook.getLoginStatus()
		.then(response => {
			this.facebookAttached = (response.status === 'connected');
		})
		.then(() => {
			if (this.facebookAttached) {
				return this.facebook.getName()
				.then(data => {
					this.facebookId = data.id;
					this.facebookName = data.name;
				});
			}
		})
		.then(() => {
			if (this.facebookAttached) {
				return this.accountService.getByFacebook(this.facebookId);
			}
		})
		.then(data => {
			if (data) {
				this.originalUserName = data.name;
				this.userName = data.name;
				this.appHelper.setUser(data);
				this.readMode = true;
			}
			else {
				this.readMode = false;
			}
		})
		.catch(err => this.toastHelper.notifyFacebookProblem())
		.finally(() => this.storeHelper.showBackdrop = false);
	}

	onAttachClick(): void {
		this.storeHelper.showBackdrop = true;
		this.facebook.login()
		.then(response => {
			this.facebookAttached = true;
			this.appHelper.clearUser();
		})
		.then(() => {
			if (this.facebookAttached) {
				return this.facebook.getName()
				.then(data => {
					this.facebookId = data.id;
					this.facebookName = data.name;
					this.userName = data.name;
				});
			}
		})
		.then(() => {
			if (this.facebookAttached) {
				return this.accountService.getByFacebook(this.facebookId);
			}
		})
		.then(data => {
			if (data) {
				this.originalUserName = data.name;
				this.userName = data.name;
				this.appHelper.setUser(data);
				this.readMode = true;
			}
		})
		.catch(err => this.toastHelper.notifyFacebookProblem())
		.finally(() => this.storeHelper.showBackdrop = false);
	}

	onDetachClick(): void {
		this.storeHelper.showBackdrop = true;
		this.facebook.logout()
		.then(response => {
			this.facebookAttached = false;
			this.facebookId = null;
			this.facebookName = null;
			this.userName = null;
			this.originalUserName = null;
			this.appHelper.clearUser();
			this.readMode = true;
		})
		.catch(err => this.toastHelper.notifyFacebookProblem())
		.finally(() => this.storeHelper.showBackdrop = false);
	}

	onSave(): void {
		// if (!this.facebookAttached || !$form.$valid) {
		// 	$form.$submitted = true;
		// 	return;
		// }

		this.storeHelper.showBackdrop = true;
		this.appHelper.clearUser();
		let data: Account = {
			id: undefined,
			fbId: this.facebookId,
			name: this.userName
		};
		this.accountService.save(data)
		.then(dto => this.appHelper.setUser(dto))
		.then(() => {
			this.originalUserName = this.userName;
			this.readMode = true;
		})
		.then(() => this.toastHelper.notifyAccountSaved())
		.catch(errCode => {
			if (errCode === 520) {
				this.toastHelper.notifyAccountDuplicate();
			}
		})
		.finally(() => this.storeHelper.showBackdrop = false);
	}

	onEdit(): void {
		this.readMode = false;
	}

	onCancel(): void {
		// $form.$setPristine();
		// $form.$setUntouched();
		this.readMode = true;
		this.userName = this.originalUserName;
	}

	hasError(field: string, rule: string): boolean {
		for (let error of <any>this.errors) {
			if (field === error.field && rule === error.rule) {
				return true;
			}
		}

		return false;
	}

	rules = {
		userName: {
			required: true, min: 3, max: 20
		}
	};
}
</script>
