<template>
<div>
	<b-row>
		<b-col xs="3">
			<h4>
				<a href="/report/server"><i class="fa fa-reply" aria-hidden="true"></i></a>
			</h4>
		</b-col>
		<b-col xs="9" class="text-right">
			<h5 style="color: #eb3812;">
				<b>
					<i class="fa fa-whatsapp" aria-hidden="true"></i> Viber
				</b>
				{{ $t('police') }}:<br />
				<b>+373 780 90 902</b>
			</h5>
		</b-col>
	</b-row>
	<b-row>
		<b-col md="6" sm="12">
			<b-form-group label-for="address" :label="$t('address')">
				<b-form-input id="address" name="address" v-model="address" disabled="disabled" />
			</b-form-group>
			<b-row>
				<b-col xs="6">
					<b-form-group label-for="date" :label="$t('date')">
						<b-form-input id="date" name="date" v-model="date" disabled="disabled" />
					</b-form-group>
				</b-col>
				<b-col xs="6">
					<b-form-group label-for="time" :label="$t('time')">
						<b-form-input id="time" name="time" v-model="time" disabled="disabled" />
					</b-form-group>
				</b-col>
			</b-row>
			<b-form-group :label="$t('cars')">
				<b-row>
					<b-col sm="6" v-for="car in cars" :key="car.id">
						<b-card>
							<table style="width:100%;">
								<tr>
									<td rowspan="2" style="width:80px;text-align:left;vertical-align:top;">
										<img :src="car.smImageSrc" class="img-thumbnail" style="width:80px;height:70px;margin: 0;padding:0;" @click="onZoom(car)" />
									</td>
									<td style="text-align:left;vertical-align:top;">
										<h3 style="margin:0 5px 3px 10px;">{{car.plate}}</h3>
									</td>
								</tr>
								<tr>
									<td style="text-align:left;vertical-align:top;">
										<h5 class="help-block" style="margin:0 5px 3px 10px">{{car.brand}}</h5>
									</td>
								</tr>
							</table>
						</b-card>
					</b-col>
				</b-row>
			</b-form-group>
			<b-form-group :label="$t('notes')" label-for="notes">
				<textarea id="notes" name="notes" v-model="$ctrl.notes" class="form-control" disabled="disabled">
				</textarea>
			</b-form-group>
		</b-col>
	</b-row>
	<b-row>
		<b-col md="6">
			<form name="form" novalidate>
				<div class="form-group">
					<label>{{$t('comments')}}</label>
					<div class="well well-sm" style="background-color:#fff;font-size:12px;" ng-repeat="comment in $ctrl.comments">
						<b><a href ng-bind="comment.account"></a></b>
						{{ comment.text }}
					</div>
				</div>
				<div class="form-group" v-show="user && !commentPosted">
					<label>{{$t('yourcomment')}}</label>
					<textarea id="comment" name="comment" class="form-control" rows="3" ng-model="$ctrl.commentText" minlength="3" maxlength="100" required ng-class="{submitted: form.$submitted}"></textarea>
					<div class="err-block" v-show="form.$submitted || form.address.$touched">
						<div v-show="form.comment.$error.required">{{$t('comment_required')}}</div>
						<div v-show="form.comment.$error.minlength">{{$t('comment_invalid')}}</div>
						<div v-show="form.comment.$error.maxlength">{{$t('comment_imvalid')}}</div>
					</div>
				</div>
				<div class="form-group text-right" v-show="user && !commentPosted">
					<button class="btn btn-primary btn-sm" @click="postComment(form)">
						<span class="glyphicon glyphicon-comment" aria-hidden="true"></span> {{$t('submit')}}
					</button>
				</div>
				<div class="form-group">
					<p class="col-xs-12 help-block" style="font-size:12px;" v-show="!user">{{$t('gotoprofile')}}</p>
				</div>
			</form>
		</b-col>
	</b-row>
</div>
</template>
<script lang="ts">
import { Component, Vue, Inject } from 'vue-property-decorator';
import { Car } from '@/dto/Car';
import { Comment } from '@/dto/Comment';
import { Account } from '@/dto/Account';
import { CommentService } from '@/services/CommentService';
import { StoreHelper } from '@/common/StoreHelper';
import { AppHelper } from '@/common/AppHelper';
import { Sitemap } from '@/common/Sitemap';


@Component({})
export default class ReportView extends Vue {
	id = '';
	date = '';
	time = '';
	address = '';
	notes = '';
	cars: Car[] = [];
	comments: Comment[] = [];
	commentText = '';
	user: Account = <any>{};
	commentPosted = false;

	@Inject() storeHelper!: StoreHelper;
	@Inject() appHelper!: AppHelper;
	@Inject() sitemap!: Sitemap;
	@Inject() commentService!: CommentService;

	$onInit(): void {
		this.storeHelper.showBackdrop = true
		let data = this.sitemap.report;
		this.id = data.id;
		this.date = data.date;
		this.time = data.time;
		this.address = data.address;
		this.notes = data.notes;
		this.cars = data.cars;
		this.user = this.appHelper.getUser();
		this.commentService.getByReport(this.id)
			.then(data => this.comments = data)
			.finally(() => this.storeHelper.showBackdrop = false);
	}

	onZoom(car: Car): void {
		//this.dialogHelper.openZoomCarDialog(car);
	}

	postComment(): void {
		// if (!$form.$valid || !this.user) {
		// 	$form.$submitted = true;
		// 	return;
		// }

		this.storeHelper.showBackdrop = true;
		let data: Comment = {
			id: <any>undefined,
			text: this.commentText,
			accountId: this.user.id,
			account: <any>undefined,
			reportId: this.id
		};
		this.commentService.save(data)
			.then(() => this.commentPosted = true)
			.then(() => this.commentService.getByReport(this.id))
			.then(data => this.comments = data)
			.finally(() => this.storeHelper.showBackdrop = false);
	}
}
</script>
