<template>
	<div>
		<b-row>
			<b-col xs="12" class="text-center">
				<h3>
					<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
					{{ $t('published') }}
				</h3>
			</b-col>
		</b-row>
		<b-row v-if="total && total > 12">
			<b-col xs="12" class="text-center">
				<b-pagination style="display: inline-flex;" size="md" :total-rows="total" v-model="pageNum" :per-page="12" @change="loadPage()"></b-pagination>
			</b-col>
		</b-row>
		<b-row>
			<b-col md="6" xs="12" v-for="report in reports" :key="report.id">
				<b-card>
					<table style="width:100%;">
						<tr>
							<td rowspan="2" style="width:80px;text-align:left;vertical-align:top;" role="button" @click="onReportClick(report)">
								<img :src="report.defaultImageSrc" style="width:80px;height:70px;margin: 0;padding:0;" class="img-thumbnail list-icon" />
							</td>
							<td style="text-align:left;vertical-align:top;" @click="onReportClick(report)">
								<h5 style="margin:0 5px 3px 10px">
									{{ report.date }} -
									{{ report.time }}
								</h5>
								<h6 class="help-block" style="margin:0 5px 3px 10px">{{report.address}}</h6>
							</td>
						</tr>
						<tr>
							<td style="text-align:left;vertical-align:bottom;" @click="onReportClick(report)">
								<div style="margin:0 0 0 10px;" class="crop">
									<img v-for="car in report.cars" :key="car.id" :src="car.smImageSrc" style="width:36px;height:36px;margin-right:3px;padding:0;" class="img-thumbnail" />
								</div>
							</td>
						</tr>
					</table>
				</b-card>
			</b-col>
		</b-row>
		<b-row v-if="total && total > 12 && reports.length > 4">
			<b-col xs="12" class="text-center">
				<b-pagination style="display: inline-flex;" size="md" :total-rows="total" v-model="pageNum" :per-page="12" @change="loadPage()"></b-pagination>
			</b-col>
		</b-row>
	</div>
</template>
<script lang="ts">
import { Component, Vue, Inject } from 'vue-property-decorator';
import { Sitemap } from '../common/Sitemap';
import { AppHelper } from '../common/AppHelper';
import { StoreHelper } from '@/common/StoreHelper';
import { ReportService } from '../services/ReportService';
import { Report } from '../dto/Report';


@Component({})
export default class ReportServer extends Vue {

	pageNum: number = 1;
	total: number = 0;
	reports: Report[] = [];

	@Inject() appHelper!: AppHelper;
	@Inject() storeHelper!: StoreHelper;
	@Inject() sitemap!: Sitemap;
	@Inject() reportService!: ReportService;

	created(): void {
		this.pageNum = this.sitemap.pageNum;
		this.loadPage();
	}

	loadPage(): Promise<void> {
		this.storeHelper.showBackdrop = true;
		this.sitemap.pageNum = this.pageNum;
		return this.reportService.getServerReports(this.pageNum - 1)
		.then(page => {
			this.reports = [];
			for(let report of page.items) {
				for(let car of report.cars) {
					car.smImageSrc = this.sitemap.getBackendRoot() + '/' + report.id + '/' + car.id + '_sm.jpg';
					car.imageSrc = this.sitemap.getBackendRoot() + '/' + report.id + '/' + car.id + '.jpg';
				}

				if (report.cars && report.cars.length > 0 && report.cars[0]) {
					report.defaultImageSrc = report.cars[0].smImageSrc;
				}

				this.reports.push(report);
			}

			this.total = page.total;
		})
		.finally(() => this.storeHelper.showBackdrop = false);
	}

	onReportClick(item: Report): void {
		this.sitemap.gotoReportView(item);
	}
}
</script>
