<template>
<div>
	<b-row>
		<b-col xs="3">
			<h4>
				<router-link to="/home/index">
					<i class="fa fa-reply" aria-hidden="true"></i>
				</router-link>
			</h4>
		</b-col>
		<b-col cxs="9" class="text-right">
			<h5 style="color:#eb3812;font-size:12px;">
				<b>
					<i class="fa fa-whatsapp" aria-hidden="true"></i>
					Viber
				</b>
				{{ $t('police') }}:<br />
				<b>+373 780 90 902</b>
			</h5>
		</b-col>
	</b-row>
	<b-row>
		<b-col md="6">
			<b-form novalidate>
				<b-form-group :label="$t('address')" label-for="address">
					<vue-bootstrap-typeahead maxMatches="5" name="address" placeholder="blvd. Stefan cel Mare 136" v-model="address" v-validate="rules.address" :data="streets" :serializer="s => s.name" />
					<div class="err-block">
						<div v-if="hasError('address', 'required')">{{$t('address_required')}}</div>
						<div v-if="hasError('address', 'min')">{{$t('address_short')}}</div>
						<div v-if="hasError('address', 'max')">{{$t('address_long')}}</div>
					</div>
				</b-form-group>
				<b-row>
					<b-col xs="6">
						<b-form-group :label="$t('date')" label-for="date">
							<datepicker name="date" v-model="date" format="dd MMM yyyy" input-class="form-control" monday-first v-validate="rules.date"></datepicker>
							<div class="err-block">
								<div v-if="hasError('date', 'required')">{{$t('date_required')}}</div>
							</div>
						</b-form-group>
					</b-col>
					<b-col xs="6">
						<b-form-group :label="$t('time')" label-for="time">
							<b-form-input placeholder="15:30" name="time" v-model="time" v-validate="rules.time" />
							<div class="err-block">
								<div v-if="hasError('time', 'required')">{{$t('time_required')}}</div>
								<div v-if="hasError('time', 'min')">{{$t('time_invalid')}}</div>
								<div v-if="hasError('time', 'max')">{{$t('time_invalid')}}</div>
							</div>
						</b-form-group>
					</b-col>
				</b-row>
				<b-form-group :label="$t('cars')">
					<b-row>
						<b-col sm="6" v-for="car in cars" :key="car.id">
							<b-card>
								<table style="width:100%;">
									<tr>
										<td rowspan="2" style="width:80px;text-align:left;vertical-align:top;">
											<img :src="car.imageSrc" class="img-thumbnail" style="width:80px;height:70px;margin: 0;padding:0;" @click="onZoomCar(car)" />
										</td>
										<td style="text-align:left;vertical-align:top;">
											<h3 style="margin:0 5px 3px 10px;">{{car.plate}}</h3>
										</td>
										<td style="text-align:right;vertical-align:top;font-size: 20px;" class="text-danger">
											<a href @click="onDeleteCar(car)">
												<i class="fa fa-times" aria-hidden="true"></i>
											</a>
										</td>
									</tr>
									<tr>
										<td style="text-align:left;vertical-align:top;">
											<h5 class="help-block" style="margin:0 5px 3px 10px">{{car.brand}}</h5>
										</td>
										<td style="text-align:right;vertical-align:top;font-size: 20px;" class="text-success">
											<a href @click="onEditCar(car)">
												<i class="fa fa-pencil-square-o" aria-hidden="true"></i>
											</a>
										</td>
									</tr>
								</table>
							</b-card>
						</b-col>
						<b-col cols="12">
							<div class="err-block">
								<div v-show="cars.length === 0">{{$t('cars_required')}}</div>
							</div>
						</b-col>
						<b-col cols="12" class="text-right">
							<b-button style="width:74px;" size="sm" variant="warning" @click="fromGallery" class="mr-1">
								<h5 style="margin:0 0 0 0;">
									<i class="fa fa-picture-o" aria-hidden="true"></i>
								</h5>
								{{ $t('gallery') }}
							</b-button>
							<b-button style="width:74px;" size="sm" variant="success" @click="takePicture">
								<h5 style="margin:0 0 0 0;">
									<i class="fa fa-camera" aria-hidden="true"></i>
								</h5>
								{{ $t('camera') }}
							</b-button>
						</b-col>
					</b-row>
				</b-form-group>
				<b-form-group :label="$t('notes')" label-for="notes">
					<b-form-textarea name="notes" v-model="notes" v-validate="rules.notes"></b-form-textarea>
					<div class="err-block">
						<div v-if="hasError('notes', 'max')">{{$t('notes_long')}}</div>
					</div>
				</b-form-group>
			</b-form>
		</b-col>
	</b-row>
	<b-row>
		<b-col md="6">
			<b-dropdown :text="$t('submit')" dropup class="mr-1">
				<b-dropdown-item @click="onShareText">
					<i class="fa fa-whatsapp" aria-hidden="true"></i>
					{{ $t('submittxt') }}
				</b-dropdown-item>
				<b-dropdown-item @click="onShareImages(index)" v-for="page in pages" :key="page">
					<i class="fa fa-whatsapp" aria-hidden="true"></i>
					{{ $t('submitimg') }}
				</b-dropdown-item>
			</b-dropdown>
			<b-dropdown :text="$t('save')" dropup class="mr-1">
				<b-dropdown-item @click="onSave">
					<i class="fa fa-floppy-o" aria-hidden="true"></i>
					{{ $t('saveondevice') }}
				</b-dropdown-item>
				<b-dropdown-item @click="onPublish">
					<i class="fa fa-floppy-o" aria-hidden="true"></i>
					{{ $t('publish') }}
				</b-dropdown-item>
			</b-dropdown>
			<b-button variant="warning" @click="copyText(form)">
				<i class="fa fa-files-o" aria-hidden="true"></i>
			</b-button>
		</b-col>
	</b-row>
</div>
</template>
<script lang="ts">
import { Component, Vue, Inject, Watch } from 'vue-property-decorator';
import Datepicker from 'vuejs-datepicker';
import { ErrorBag } from 'vee-validate';
import { Car } from '../dto/Car';
import { Street } from '../dto/Street';
import { Report } from '../dto/Report';
import { AppHelper } from '../common/AppHelper';
import { Sitemap } from '../common/Sitemap';
import { StoreHelper } from '../common/StoreHelper';
import { ToastHelper } from '../common/ToastHelper';
import { Model } from '../common/Model';
import { Camera } from '../plugins/camera';
import { Clipboard } from '../plugins/clipboard';
import { File } from '../plugins/file';
import { Upload } from '../plugins/upload';
import { Viber } from '../plugins/viber';
import { BrandService } from '../services/BrandService';
import { StreetService } from '../services/StreetService';
import { ReportService } from '../services/ReportService';


const PAGE_SIZE = 12;

@Component(<any>{
	components: { Datepicker },
})
export default class ReportAdd extends Vue {
	id: string = '';
	originalStreets: Street[] = [];
	streets: Street[] = [];
	cars: Car[] = [];
	cameraOpened = false;
	isPublished = false;
	pages: any[]= [];

	date: Date = null;
	time: string = null;
	address: string = null;
	notes: string = null;

	@Inject() appHelper!: AppHelper;
	@Inject() sitemap!: Sitemap;
	@Inject() storeHelper!: StoreHelper;
	@Inject() toastHelper!: ToastHelper;
	@Inject() camera!: Camera;
	@Inject() clipboard!: Clipboard;
	@Inject() file!: File;
	@Inject() upload!: Upload;
	@Inject() viber!: Viber;
	@Inject() brandService!: BrandService;
	@Inject() streetService!: StreetService;
	@Inject() reportService!: ReportService;

	errors: ErrorBag;

	@Watch('address') onAdressChange(val: string): void {
		this.streets = this.appHelper.filterStreets(val, this.originalStreets);
	}

	created(): void {
		let data = this.sitemap.report;
		if (data)
		{
			this.id = data.id;
			this.date = this.appHelper.parseDate(data.date);
			this.time = data.time;
			this.address = data.address;
			this.cars = data.cars;
			this.isPublished = data.isPublished;
			this.notes = data.notes;
			this.pages = new Array(Math.floor(this.cars.length / 10) + 1);
		}
		else {
			this.time = this.appHelper.formatCurrentTime();
		}

		this.streetService.getStreets()
			.then(data => this.originalStreets = data);
	}

	takePicture(): void {
		this.cameraOpened = true;
		let fileName = this.appHelper.getNewImageFileName();
		let photoUri: string = null;
		this.file.getRootDirectory()
			.then(root => this.file.getAppFolder(root))
			.then(() => this.camera.takePicture())
			.then(uri => photoUri = uri)
			.then(() => this.camera.cropImage(photoUri))
			.then(cropUri => this.file.getFile(cropUri))
			.then(entry => this.file.moveFileToAppFolder(entry, fileName))
			.then(entry => this.file.getExternalPath(entry))
			.then(path => this.storeHelper.openCarDialog(<any>null, path))
			.then(car => {
				car.plate = car.plate.toUpperCase();
				this.cars.push(car);
				this.pages = new Array(Math.floor(this.cars.length / 10) + 1);
			});
	}

	fromGallery(): void {
		this.cameraOpened = true;
		let fileName = this.appHelper.getNewImageFileName();
		this.file.getRootDirectory()
			.then(root => this.file.getAppFolder(root))
			.then(() => this.camera.fromGallery())
			.then(uri => this.camera.cropImage(uri))
			.then(uri => this.file.getFile(uri))
			.then(entry => this.file.moveFileToAppFolder(entry, fileName))
			.then(entry => this.file.getExternalPath(entry))
			.then(path => this.storeHelper.openCarDialog(<any>null, path))
			.then(car => {
				car.plate = car.plate.toUpperCase();
				this.cars.push(car);
				this.pages = new Array(Math.floor(this.cars.length / 10) + 1);
			});
	}

	onShareText(): void {
		// if (!$form.$valid || this.cars.length === 0) {
		// 	$form.$submitted = true;
		// 	return;
		// }

		let text = this.getText();
		this.viber.shareText(text);
	}

	onShareImages(pageIndex: number): void {
		// if (!$form.$valid || this.cars.length === 0) {
		// 	$form.$submitted = true;
		// 	return;
		// }

		let pathList: string[] = [];
		let startIndex = pageIndex * PAGE_SIZE;
		let nextPageStartIndex = startIndex + PAGE_SIZE;
		if (nextPageStartIndex > this.cars.length) {
			nextPageStartIndex = this.cars.length;
		}

		for (let i = startIndex; i < nextPageStartIndex; i++) {
			pathList.push(this.cars[i].imageSrc);
		}

		this.viber.shareImages(pathList);
	}

	onDeleteCar(car: Car): void {
		let index = this.cars.indexOf(car);
		this.cars.splice(index, 1);
		this.pages = new Array(Math.floor(this.cars.length / 10) + 1);
	}

	onZoomCar(car: Car): void {
		//this.dialogHelper.openZoomCarDialog(car);
	}

	onEditCar(car: Car): void {
		this.storeHelper.openCarDialog(car, <any>null)
		.then(modified => {
			car.brand = modified.brand;
			car.plate = modified.plate.toUpperCase();
		});
	}

	onSave(): void {
		if (!this.isFormValid()) {
			console.log('invalid');
			return;
		}

		console.log('valid');
		this.saveOrUpdateLocalReport()
			.then(newId => this.id = newId)
			.then(() => this.toastHelper.notifyReportSaved());
	}

	onPublish(): void {
		// if (!$form.$valid || this.cars.length === 0) {
		// 	$form.$submitted = true;
		// 	return;
		// }

		if (this.isPublished) {
			this.toastHelper.notifyIsPublished();
			return;
		}

		this.storeHelper.showBackdrop = true;
		let data: Report = {
			id: <any>undefined,
			address: this.address,
			date: this.appHelper.formatDate(this.date),
			time: this.time,
			notes: this.notes,
			cars: [],
			isPublished: <any>undefined
		};
		for(let car of this.cars) {
			data.cars.push({
				id: <any>undefined,
				smImageSrc: <any>undefined,
				imageSrc: <any>undefined,
				brand: car.brand,
				plate: car.plate
			});
		}

		this.reportService.publishReport(data)
		.then(report => {
			let chain = Promise.resolve();
			let index = 0;
			for(let car of report.cars) {
				car.imageSrc = this.cars[index].imageSrc;
				chain = chain
					.then(() => this.upload.uploadImage(car.imageSrc, report.id, car.id));
				index++;
			}

			return chain;
		})
		.then(() => this.isPublished = true)
		.then(() => this.toastHelper.notifyReportPublished())
		.then(() => this.saveOrUpdateLocalReport())
		.then(id => this.id = id)
		.catch(err => alert('ERROR: ' + err))
		.finally(() => this.storeHelper.showBackdrop = false);
	}

	copyText(): void {
		// if (!$form.$valid || this.cars.length === 0) {
		// 	$form.$submitted = true;
		// 	return;
		// }

		this.clipboard.copy(this.getText())
			.then(() => this.toastHelper.notifyCopyToClipboard())
			.catch(err => alert(err));
	}

	hasError(field: string, rule: string): boolean {
		for (let error of <any>this.errors) {
			if (field === error.field && rule === error.rule) {
				return true;
			}
		}

		return false;
	}

	rules = {
		address: {
			required: true, min: 4, max: 35
		},
		date: {
			required: true
		},
		time: {
			required: true, min: 4, max: 5
		},
		notes: {
			max: 80
		}
	};

	private getText(): string {
		let text =
			this.appHelper.formatDate(this.date) + '   ' +
			this.time + '\n' +
			this.address + '\n' +
			'-------------------------\n';
		for(let car of this.cars) {
			let carText = car.brand + '   ' + car.plate + '\n';
			text += carText;
		}

		if (this.notes) {
			text += '-------------------------\n' + this.notes;
		}

		return text;
	}

	private saveOrUpdateLocalReport(): Promise<string> {
		let item: Report = {
			id: this.id,
			address: this.address,
			date: this.appHelper.formatDate(this.date),
			time: this.time,
			notes: this.notes,
			cars: [],
			isPublished: this.isPublished
		};
		for(let car of this.cars) {
			item.cars.push(car);
		}

		if (item.id) {
			return this.reportService.updateLocalReport(item);
		}
		else {
			return this.reportService.saveLocalReport(item);
		}
	}

	private isFormValid(): boolean {
		return true;
	}
}
</script>
