<template>
	<div>
		<b-row>
			<b-col xs="12" class="text-center">
				<h3>
					<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
					{{ $t('reports') }}
				</h3>
			</b-col>
		</b-row>
		<b-row>
			<b-col md="6" xs="12" v-for="report in reports" :key="report.id">
				<b-card>
					<table style="width:100%;">
						<tr>
							<td rowspan="2" style="width:80px;text-align:left;vertical-align:top;" role="button" @click="onReportClick(report)">
								<img :src="report.defaultImageSrc" style="width:80px;height:70px;margin: 0;padding:0;" class="img-thumbnail list-icon" />
							</td>
							<td style="text-align:left;vertical-align:top;" @click="onReportClick(report)">
								<h5 style="margin:0 5px 3px 10px">
									{{ report.date }} -
									{{ report.time }}
								</h5>
								<h6 class="help-block" style="margin:0 5px 3px 10px">{{report.address}}</h6>
							</td>
							<td style="text-align:right;vertical-align:top;font-size: 20px;" class="text-danger">
								<a href @click="onDelete(report)">
									<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
								</a>
							</td>
						</tr>
						<tr>
							<td colspan="2" style="text-align:left;vertical-align:bottom;" @click="onReportClick(report)">
								<div style="margin:0 0 0 10px;" class="crop">
									<img v-for="car in report.cars" :key="car.id" :src="car.imageSrc" style="width:36px;height:36px;margin-right:3px;padding:0;" class="img-thumbnail" />
								</div>
							</td>
						</tr>
					</table>
				</b-card>
			</b-col>
		</b-row>
	</div>
</template>
<script lang="ts">
import { Component, Vue, Inject } from 'vue-property-decorator';
import { Report } from '../dto/Report';
import { Sitemap } from '../common/Sitemap';
import { ToastHelper } from '../common/ToastHelper';
import { ReportService } from '../services/ReportService';


@Component({})
export default class ReportList extends Vue {

	@Inject() reportService!: ReportService;
	@Inject() sitemap!: Sitemap;
	@Inject() toastHelper!: ToastHelper;

	reports!: Report[];

	created(): Promise<void> {
		return this.reportService.getLocalReports()
		.then(data => {
			this.reports = [];
			for(let report of data) {
				if (report.cars && report.cars.length > 0 && report.cars[0]) {
					report.defaultImageSrc = report.cars[0].imageSrc;
				}

				this.reports.push(report);
			}

			this.reports.reverse();
		});
	}

	onReportClick(item: Report): void {
		this.sitemap.gotoReportEdit(item);
	}

	onDelete(item: Report): void {
		this.reportService.deleteLocalReport(item)
			.then(() => this.created())
			.then(() => this.toastHelper.notifyReportDeleted());
	}
}
</script>
