<template>
<div>
	<b-row>
		<b-col md="6" class="text-center">
			<h3>
				<i class="fa fa-search" aria-hidden="true"></i>
				{{ $t('searchcar') }}
			</h3>
		</b-col>
	</b-row>
	<b-row>
		<b-col md="6">
			<b-form novalidate>
				<b-form-group :label="$t('plate')">
					<b-form-input placeholder="C AA 301" style="text-transform: uppercase;" name="plate" v-model="plate" v-validate="rules.plate" />
					<div class="err-block">
						<div v-if="hasError('plate', 'required')">{{$t('plate_required')}}</div>
						<div v-if="hasError('plate', 'min')">{{$t('plate_invalid')}}</div>
						<div v-if="hasError('plate', 'max')">{{$t('plate_invalid')}}</div>
					</div>
				</b-form-group>
				<b-form-group class="text-right">
					<b-button variant="primary" @click="search">
						<i class="fa fa-search" aria-hidden="true"></i>
						{{ $t('search') }}
					</b-button>
				</b-form-group>
			</b-form>
		</b-col>
	</b-row>
	<b-row>
		<b-col md="6" v-for="car in cars" :key="car.id">
			<div class="panel panel-default">
				<div class="panel-body">
					<table style="width:100%;">
						<tr>
							<td rowspan="2" style="width:80px;text-align:left;vertical-align:top;">
								<img :src="car.smImageSrc" class="img-thumbnail" style="width:80px;height:70px;margin: 0;padding:0;" @click="onZoom(car)" />
							</td>
							<td style="text-align:left;vertical-align:top;">
								<h3 style="margin:0 5px 3px 10px;">{{car.plate}}</h3>
							</td>
						</tr>
						<tr>
							<td style="text-align:left;vertical-align:top;">
								<h5 class="help-block" style="margin:0 5px 3px 10px">{{car.brand}}</h5>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</b-col>
	</b-row>
</div>
</template>
<script lang="ts">
import { Component, Vue, Inject } from 'vue-property-decorator';
import { ErrorBag } from 'vee-validate';
import { Car } from '@/dto/Car';
import { AppHelper } from '@/common/AppHelper';
import { Sitemap } from '@/common/Sitemap';
import { ReportService } from '@/services/ReportService';
import { StoreHelper } from '@/common/StoreHelper';


@Component({})
export default class Search extends Vue {

	lastPlateTry: string = null;
	plate: string = null;
	cars: Car[] = null;

	@Inject() appHelper: AppHelper;
	@Inject() sitemap: Sitemap;
	@Inject() reportService: ReportService;
	@Inject() storeHelper: StoreHelper;

	errors: ErrorBag;

	search(): void {
		// if (!$form.$valid) {
		// 	$form.$submitted = true;
		// 	return;
		// }

		let text = this.plate.replace(/ /g,'');
		text = text.toUpperCase();
		if (text.length < 4) {
			//$form.$submitted = true;
			return;
		}

		if (this.lastPlateTry === this.plate) {
			//$form.$submitted = true;
			return;
		}

		this.lastPlateTry = this.plate;
		this.storeHelper.showBackdrop = true;
		this.reportService.searchCar(text)
		.then(data => {
			for(let car of data) {
				car.smImageSrc = this.sitemap.getBackendRoot() + '/' + car.reportId + '/' + car.id + '_sm.jpg';
				car.imageSrc = this.sitemap.getBackendRoot() + '/' + car.reportId + '/' + car.id + '.jpg';
			}

			this.cars = data;
		})
		.finally(() => this.storeHelper.showBackdrop = false);
	}

	onZoom(car: Car): void {
		//this.storeHelper.openZoomCarDialog(car);
	}

	hasError(field: string, rule: string): boolean {
		for (let error of <any>this.errors) {
			if (field === error.field && rule === error.rule) {
				return true;
			}
		}

		return false;
	}

	rules = {
		plate: {
			required: true, min: 4, max: 9
		}
	};
}
</script>
