<div class="row">
	<div class="col-md-12">
		<h3>Edit Report</h3>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<form novalidate>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="reportId">ID</label>
						<input type="text" class="form-control" id="reportId" name="reportId" ng-value="ctrl.reportId" disabled />
					</div>
					<div class="form-group">
						<label for="address">Address</label>
						<input type="text" class="form-control" id="address" name="address" ng-model="ctrl.address" />
					</div>
					<div class="form-group">
						<label for="date">Date</label>
						<input type="text" class="form-control" id="date" name="date" ng-model="ctrl.date" />
					</div>
					<div class="form-group">
						<label for="time">Time</label>
						<input type="text" class="form-control" id="time" name="time" ng-model="ctrl.time" />
					</div>
					<div class="form-group">
						<label for="notes">Notes</label>
						<input type="text" class="form-control" id="notes" name="notes" ng-model="ctrl.notes" />
					</div>
				</div>
				<div class="col-md-6">
					<label>Cars</label>
					<div class="panel panel-default" ng-repeat="car in ctrl.cars">
						<div class="panel-body">
							<div class="row">
								<div class="col-xs-2">
									<img ng-src="/{{ctrl.reportId}}/{{car.id}}_sm.jpg" style="margin: -4px 0 -4px -4px;padding:0;" class="img-thumbnail" role="button" ng-click="ctrl.onCarZoom(car)" />
								</div>
								<div class="col-xs-5 form-group">
									<label for="brand">Maker</label>
									<input type="text" class="form-control" id="brand" name="brand" ng-model="car.brand" />
								</div>
								<div class="col-xs-5 form-group">
									<label for="plate">License Plate</label>
									<input type="text" class="form-control" id="plate" name="plate" ng-model="car.plate" />
								</div>
							</div>
							<div class="row">
								<div class="col-xs-2"></div>
								<div class="col-xs-5 form-group">
									<input type="file" class="form-control" id="image" name="image" file-model="car.image" />
								</div>
								<div class="col-xs-5 form-group">
									<button type="button" class="btn btn-warning" ng-click="ctrl.onUploadCar(car)">Upload</button>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 text-right form-group">
									<button type="button" class="btn btn-danger" ng-click="ctrl.onDeleteCar(car)">Delete</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<button type="button" class="btn btn-primary" ng-click="ctrl.onSave()">Save</button>
		<button type="button" class="btn btn-default" ng-click="ctrl.onCancel()">Cancel</button>
	</div>
</div>
