<div class="row">
	<div class="col-md-12">
		<table class="table table-striped table-hover">
		<thead>
			<tr class="head">
				<th>ID</th>
				<th>Address</th>
				<th>Date</th>
				<th>Time</th>
				<th>Notes</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="report in ctrl.reports">
				<td ng-bind="report.id">
				</td>
				<td ng-bind="report.address"></td>
				<td ng-bind="report.date"></td>
				<td ng-bind="report.time"></td>
				<td ng-bind="report.notes"></td>
				<td>
					<a href="report/edit/{{report.id}}">
						<span class="glyphicon glyphicon-edit text-success"></span>
					</a>
					<a role="button" title="Delete" ng-click="ctrl.onDelete(report.id)">
						<span class="glyphicon glyphicon-remove text-danger"></span>
					</a>
				</td>
			</tr>
		</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-md-12 text-center">
		<ul uib-pagination total-items="ctrl.total" items-per-page='12' ng-model="ctrl.pageNum" ng-change="ctrl.onPage()"></ul>
	</div>
</div>
