<div class="list-group">
	<a class="list-group-item active">
		<h3 ng-bind="::'selectlang' | translate"></h3>
	</a>
	<a href class="list-group-item" ng-click="$ctrl.selectRo()">
		<h4>
			<img src="img/ro.png" style="width:36px" />
			Română
		</h4>
	</a>
	<a href class="list-group-item" ng-click="$ctrl.selectRu()">
		<h4>
			<img src="img/ru.png" style="width:36px" />
			Русский
		</h4>
	</a>
	<a href class="list-group-item" ng-click="$ctrl.selectEn()">
		<h4>
			<img src="img/en.png" style="width:36px" />
			English
		</h4>
	</a>
</div>
