<div class="row">
	<div class="col-sm-4">
		<form novalidate>
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text" class="form-control" id="name" name="name" ng-model="ctrl.name" />
			</div>
			<div class="form-group">
				<label for="pwd">Password</label>
				<input type="text" class="form-control" id="pwd" name="pwd" ng-model="ctrl.pwd" />
			</div>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-sm-4">
		<button type="button" class="btn btn-primary" ng-click="ctrl.onSubmit()">Submit</button>
	</div>
</div>