<div class="row">
	<div class="col-xs-3">
		<h4>
			<a href="/home/index"><i class="fa fa-reply" aria-hidden="true"></i></a>
		</h4>
	</div>
	<div class="col-xs-9 text-right">
		<h5 style="color: #eb3812;">
			<b>
				<i class="fa fa-whatsapp" aria-hidden="true"></i>
				Viber
			</b>
			{{ 'police' | translate }}:<br />
			<b>+373 780 90 902</b>
		</h5>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-xs-12">
		<form name="form" novalidate>
			<div class="form-group">
				<label for="address" ng-bind="'address' | translate"></label>
				<input id="address" name="address" placeholder="blvd. Stefan cel Mare 136" type="text" ng-model="$ctrl.address" uib-typeahead="s.name for s in $ctrl.filterStreets($viewValue)" class="form-control" ng-class="{submitted: form.$submitted}" popup-placement="top" minlength="4" maxlength="35" required />
				<div class="err-block" ng-show="form.$submitted || form.address.$touched">
					<div ng-show="form.address.$error.required" ng-bind="'address_required' | translate"></div>
					<div ng-show="form.address.$error.minlength" ng-bind="'address_invalid' | translate"></div>
					<div ng-show="form.address.$error.maxlength" ng-bind="'address_long' | translate"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6 form-group">
					<label for="date" ng-bind="'date' | translate"></label>
					<p class="input-group" style="margin-bottom: 0;">
						<input type="text" id="date" name="date" class="form-control" ng-class="{submitted: form.$submitted}" uib-datepicker-popup="dd-MMM-yyyy" ng-model="$ctrl.date" is-open="$ctrl.dateShow" ng-required="true" close-text="Close" required />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="$ctrl.dateShow=true">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
					</p>
					<div class="err-block" ng-show="form.$submitted || form.address.$touched">
						<div ng-show="form.date.$error.required" ng-bind="'date_required' | translate"></div>
					</div>
				</div>
				<div class="col-xs-6 form-group">
					<label for="time" ng-bind="'time' | translate"></label>
					<input type="text" placeholder="15:30" id="time" name="time" ng-model="$ctrl.time" class="form-control" ng-class="{submitted: form.$submitted}" minlength="5" maxlength="5" required />
					<div class="err-block" ng-show="form.$submitted || form.address.$touched">
						<div ng-show="form.time.$error.required" ng-bind="'time_required' | translate"></div>
						<div ng-show="form.time.$error.minlength" ng-bind="'time_invalid' | translate"></div>
						<div ng-show="form.time.$error.maxlength" ng-bind="'time_invalid' | translate"></div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="time" ng-bind="'cars' | translate"></label>
				<div class="row">
					<div class="col-sm-6 col-xs-12" ng-repeat="car in $ctrl.cars">
						<div class="panel panel-default">
							<div class="panel-body">
								<table style="width:100%;">
									<tr>
										<td rowspan="2" style="width:80px;text-align:left;vertical-align:top;">
											<img ng-src="{{car.imageSrc}}" class="img-thumbnail" style="width:80px;height:70px;margin: 0;padding:0;" ng-click="$ctrl.onZoomCar(car)" />
										</td>
										<td style="text-align:left;vertical-align:top;">
											<h3 ng-bind="car.plate" style="margin:0 5px 3px 10px;"></h3>
										</td>
										<td style="text-align:right;vertical-align:top;font-size: 20px;" class="text-danger">
											<a href ng-click="$ctrl.onDeleteCar(car)">
												<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
											</a>
										</td>
									</tr>
									<tr>
										<td style="text-align:left;vertical-align:top;">
											<h5 class="help-block" style="margin:0 5px 3px 10px" ng-bind="car.brand"></h5>
										</td>
										<td style="text-align:right;vertical-align:top;font-size: 20px;" class="text-success">
											<a href ng-click="$ctrl.onEditCar(car)">
												<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
											</a>
										</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					<div class="col-xs-12">
						<div class="err-block" ng-show="form.$submitted || $ctrl.cameraOpened">
							<div ng-show="$ctrl.cars.length === 0" ng-bind="'cars_required' | translate"></div>
						</div>
					</div>
					<div class="col-xs-12 text-right">
						<button style="width:74px;" type="button" class="btn btn-warning btn-sm" ng-click="$ctrl.fromGallery()">
							<h5 style="margin:0 0 0 0;"><span class="glyphicon glyphicon-picture"></span></h5>
							{{ 'gallery' | translate }}
						</button>
						<button style="width:74px;" type="button" class="btn btn-success btn-sm" ng-click="$ctrl.takePicture()">
							<h5 style="margin:0 0 0 0;"><span class="glyphicon glyphicon-camera"></span></h5>
							{{ 'camera' | translate }}
						</button>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label for="notes" ng-bind="'notes' | translate"></label>
				<textarea id="notes" name="notes" ng-model="$ctrl.notes" class="form-control" maxlength="80">
				</textarea>
				<div class="err-block" ng-show="form.$submitted || form.address.$touched">
					<div ng-show="form.notes.$error.maxlength" ng-bind="'notes_long' | translate"></div>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-xs-12">
		<div class="btn-group dropup" uib-dropdown>
			<button type="button" class="btn btn-primary" uib-dropdown-toggle>
				<i class="fa fa-whatsapp" aria-hidden="true"></i> {{ 'submit' | translate }}
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" uib-dropdown-menu role="menu">
				<li style="padding: 10px 0 10px 0;">
					<a href ng-click="$ctrl.onShareText(form)">
						<i class="fa fa-whatsapp" aria-hidden="true"></i> {{ 'submittxt' | translate}}
					</a>
				</li>
				<li style="padding: 10px 0 10px 0;" ng-repeat="page in $ctrl.pages">
					<a href ng-click="$ctrl.onShareImages(form, $index)">
						<i class="fa fa-whatsapp" aria-hidden="true"></i> {{'submitimg' | translate}} 
					</a>
				</li>
			</ul>
		</div>
		<div class="btn-group dropup" uib-dropdown>
			<button type="button" class="btn btn-default" uib-dropdown-toggle>
				<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> {{ 'save' | translate }}
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" uib-dropdown-menu role="menu">
				<li style="padding: 8px 0 8px 0;">
					<a href ng-click="$ctrl.onSave(form)">
						<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
						{{ 'saveondevice' | translate }}
					</a>
				</li>
				<li style="padding: 8px 0 8px 0;">
					<a href ng-click="$ctrl.onPublish(form)">
						<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
						{{ 'publish' | translate }}
					</a>
				</li>
			</ul>
		</div>
		<button type="button" class="btn btn-warning" ng-click="$ctrl.copyText(form)">
			<span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span>
		</button>
	</div>
</div>