<div class="row">
	<div class="col-xs-12 text-center">
		<h2 ng-bind="'police' | translate"></h2>
		<img src="img/logo.png" />
		<h3 ng-bind="'moldova' | translate"></h3>
		<div class="btn-group dropup" uib-dropdown>
			<button type="button" class="btn btn-primary" ng-click="$ctrl.report()" ng-bind="'report' | translate"></button>
			<button type="button" class="btn btn-primary" uib-dropdown-toggle>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" uib-dropdown-menu role="menu">
				<li style="padding: 8px 0 8px 0;">
					<a href ng-click="$ctrl.savedReports()">
						<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
						{{'reports' | translate}}
					</a>
				</li>
				<li style="padding: 8px 0 8px 0;">
					<a href ng-click="$ctrl.publishedReports()">
						<span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
						{{'published' | translate}}
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>