<div class="row">
	<div class="col-sm-6 col-xs-12">
		<form name="form" novalidate>
			<div class="form-group">
				<label for="userName" ng-bind="'username' | translate"></label>
				<span class="h7 help-block pull-right" style="display:inline;font-size:12px;" ng-bind="'fbnamewarn' | translate"></span>
				<input type="text" class="form-control" id="userName" name="userName" ng-model="$ctrl.userName" minlength="3" maxlength="20" required ng-disabled="$ctrl.readMode" ng-class="{submitted: form.$submitted}" />
				<div class="err-block" ng-show="form.$submitted || form.userName.$touched">
					<div ng-show="form.userName.$error.required" ng-bind="'profile.requireuser' | translate"></div>
					<div ng-show="form.userName.$error.minlength" ng-bind="'profile.minuser' | translate"></div>
					<div ng-show="form.userName.$error.maxlength" ng-bind="'profile.maxuser' | translate"></div>
				</div>
			</div>
			<div class="form-group">
				<label for="facebookName" ng-bind="'fbaccount' | translate"></label>
				<div class="input-group">
					<span class="input-group-addon" role="button">
						<i class="fa fa-facebook" aria-hidden="true"></i>
					</span>
					<input type="text" style="font-style: italic" class="form-control" id="facebookName" name="facebookName" ng-value="$ctrl.facebookName" disabled="disabled" />
					<span class="input-group-addon" role="button" ng-show="!$ctrl.readMode && !$ctrl.facebookAttached">
						<a href ng-click="$ctrl.onAttachClick()" ng-bind="'attach' | translate"></a>
					</span>
					<span class="input-group-addon" role="button" ng-show="!$ctrl.readMode && $ctrl.facebookAttached">
						<a href ng-click="$ctrl.onDetachClick()" ng-bind="'detach' | translate"></a>
					</span>
				</div>
				<div class="err-block" ng-show="form.$submitted">
					<div ng-show="!$ctrl.facebookAttached"ng-bind="'profile.fbattach' | translate"></div>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-sm-6 col-xs-12">
		<button type="button" class="btn btn-primary" ng-click="$ctrl.onEdit()" ng-show="$ctrl.readMode" ng-bind="'edit' | translate"></button>
		<button type="button" class="btn btn-primary" ng-click="$ctrl.onSave(form)" ng-show="!$ctrl.readMode" ng-bind="'save' | translate"></button>
		<button type="button" class="btn btn-default" ng-click="$ctrl.onCancel(form)" ng-show="!$ctrl.readMode" ng-bind="'cancel' | translate"></button>
	</div>
</div>