<!doctype html>
<html ng-app="vkusno">
<head>
	<meta charset="utf-8" />
	<title>Smart Police</title>
	<base href="/" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="icon" type="image/x-icon" href="favicon.ico" />
	<link rel="stylesheet" type="text/css" href="/css/local.css" />
	<link rel="stylesheet" type="text/css" href="/libs/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="/libs/angular-ui-bootstrap/dist/ui-bootstrap-csp.css" />

	<script type="text/javascript" src="/libs/angular/angular.min.js"></script>
	<script type="text/javascript" src="/libs/angular-route/angular-route.min.js"></script>
	<script type="text/javascript" src="/libs/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
</head>
<body>
	<div id="modalBackdrop" class="modal-backdrop fade in" style="z-index: 1090; display:none;"></div>
	<nav class="navbar navbar-default">
		<div class="container-fluid" uib-dropdown>
			<div class="navbar-header">
				<button ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" type="button" class="navbar-toggle collapsed" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Smart Police</a>
			</div>
			<div uib-collapse="navCollapsed" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li>
						<a href="report/list/0">Reports</a>
					</li>
					<li>
						<a href="account/list/0">Accounts</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<ng-view></ng-view>
	</div>
	<script type="text/javascript" src="/bundle.js"></script>
</body>
</html>
