<template>
	<el-table :data="accounts">
		<el-table-column prop="id" label="ID" width="160">
		</el-table-column>
		<el-table-column prop="name" label="Name" width="240">
		</el-table-column>
		<el-table-column prop="fbId" label="Facebook ID" width="200">
		</el-table-column>
	</el-table>
</template>

<script lang="ts">
	import { Component, Vue, Inject } from 'vue-property-decorator';
	import { AccountDto } from '@/dto/account-dto';
	import { Helper } from '@/common/helper';
	import { AccountService } from '@/services/account-service';


	@Component({})
	export default class AccountList extends Vue {
		pageIndex: number = 0;
		pageNum: number = 0
		accounts: AccountDto[] = [];
		total: number = 0;

		@Inject() accountService!: AccountService;
		@Inject() helper!: Helper;

		created(): void {
			this.helper.fadeIn();
			this.loaadRows()
				.then(() => this.helper.fadeOut())
				.catch(() => this.helper.fadeOut());
		}

		loaadRows(): Promise<void> {
			return this.accountService.getPage(this.pageIndex)
			.then(page => {
				this.accounts = page.items;
				this.total = page.total;
			});
		}
	}
</script>
