section {
	padding-top: 60px;
	padding-bottom: 30px;
}

.crop-text {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.crop {
	overflow: hidden;
	white-space: nowrap;
}

.no-image {
	width: 0px;
}

.user-icon {
	width: 26px;
}

.full-image {
	margin: 3px 0px 3px 0px;
	width: 100%;
}

.help-block {
	margin-bottom: 5px;
}

.modal-dialog {
	margin-top: 70px;
}

.modal-body {
	padding: 6px;
}

.panel-body {
	padding: 6px;
}

.panel {
	margin-bottom: 10px;
}

.float {
	position:fixed;
	width:60px;
	height:60px;
	bottom:30px;
	right:15px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}

input.ng-valid,
select.ng-valid,
textarea.ng-valid {
	background-color: #FFFFFF;
}

input.ng-invalid,
select.ng-invalid,
textarea.ng-invalid {
	background-color: #FFEBD6;
}

input.ng-untouched,
select.ng-untouched,
textarea.ng-untouched {
	background-color: #FFFFFF;
}

input.ng-invalid.ng-untouched.submitted,
select.ng-invalid.ng-untouched.submitted,
textarea.ng-invalid.ng-untouched.submitted {
	background-color: #FFEBD6;
}

.err-block {
	color: #D63301;
	font-size: 12px;
}

.list-group {
	margin-bottom: 0px;
}

.thumbnail {
	margin-bottom: 0px;
}

.img-site {
	position: relative;
	text-align: center;
}

.close {
	position: absolute;
	top: 4px;
	right: 23px;
	font-size: 20px;
	color: #a94442;
}

.disabled {
	pointer-events: none;
	cursor: not-allowed;
	opacity: .65;
}

.dropdown-menu > li > a {
	padding: 3px 10px;
}

.well {
	margin-bottom: 10px;
}

.well-sm {
	padding: 8px 12px 8px 12px;
	border-radius: 15px;
}